html, body {
    height: 100%; /* Stellt sicher, dass die Seite die volle Höhe einnimmt */
}

body {
    display: flex;
    flex-direction: column; /* Ermöglicht flexibles Layout */
    background-image:url("../includes/bg.png");
}

main {
    flex: 1;
}

footer {
    margin-top: auto;
    color: #fafafa;
}

.hljs {
    background-color: khaki !important;
    border-radius: 5px;
}

.code, .hljs, pre {
    padding: 0 !important;
}